<%- include('partials/header') %>

<h1><%= campground.name %> </h1>
<img src="<%= campground.image %>"">
<p style="font-size: large;"><%= campground.description %></p>

<%- include('partials/footer') %>